@media (min-width: 100px) and (max-width: 580px){

.container-slider{
	.slide{
		.cubre{
			h2{
				font-size: 30px;
			}
			p{
				width: 80%;
			}
		}
	}
}
	

}

@media (min-width: 100px) and (max-width: 330px){

.container-slider{
	.slide{
		.cubre{
			.pequeno{
				font-size: 20px;
			}
		}
	}
}
	

}	


