@media (min-width: 200px) and (max-width: 670px){
	header{
		.marca{
			width: 100px;
		}
		.menu-1{
			width: 0;
			display: none;

		}
		.icono{
			display: block;
			margin-top: 20px;

		}

	}


}
