*
	margin: 0
	padding: 0
	box-sizing: 0

body
	overflow-x: hidden

/*Paleta de colores*/

$negro: #151515

$morado: #301B3F

$azul: #3C415C

$letras: #B4A5A5

/*Paleta de colores*/

@import _menu

@import _presen_slide

@import _sobre1

@import _sobre2

@import _sobre3

@import _port

@import _habil

@import _contacto

@import _pie


